<html>
    <head>
        <title> {{ title }} - Events List</title>
    </head>
    <body>
        <ul>
            <li><a href='/events'>Home</a></li>
        </ul>
        <hr>

        <h1> My Events List!</h1>

        <form action="/events" method="post">
            <label for="date">Date</label>
            <input type="date" name="date" id="date">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="guests">Guests</label>
            <input type="text" name="guests" id="guests">
            <label for="location">Location</label>
            <input type="text" name="location" id="location">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="2" cols="25"></textarea>
            <label for="recurring">Recurring?</label>
            <input type="checkbox" name="recurring" id="recurring" value="true">
            <input type="checkbox" name="recurring" id="recurring" value="false">
            <input type="submit" value="Add Event">
            </form>
            {% for event in events %}
            <div>
                <p>
                    {{ event.date }} {{ event.name }} {{ event.guests }} {{event.location }} {{ event.description }}
                    {% if event.recurring %}
                    <span>&#9989;</span>
                    {% endif %}
                </p>
            </div>
            {% endfor %}
    </body>
</html>